<!--prettier-ignore-->
{% extends "layout.html" %} 
{% block title %}CARS{% endblock title %} 
{% block content %}
<nav class="bg-neutral-100 py-6">
  <div class="container mx-auto px-4 flex justify-between">
    <a href="{% url 'task3_sms:home' %}">
      <h1 class="play-fair italic font-bold text-lg">SMS</h1>
    </a>
    <a
      href="{% url 'task3_sms:view_enrollment' %}"
      class="bg-gray-900 text-gray-50 px-4 py-[7px] rounded-[20px]"
    >
      View Enrollments
    </a>
  </div>
</nav>

<div class="container mx-auto px-4 py-10">
  <!--prettier-ignore-->
  {% block page %} 
  {% endblock %}
</div>
{% endblock content %}
