.about-description {
  text-align: center;
}

.experience-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  margin: 1.5rem auto;
  gap: 6rem;
  margin-top: 3rem;
}

.experience-section h3 {
  text-align: center;
}

.side {
  width: 50%;
}

.experience {
  position: relative;
}

.experience {
  border-left: 3px solid var(--primary-light);
  padding-left: 1rem;
}

.circle {
  width: 12px;
  height: 12px;
  background-color: var(--primary);
  border-radius: 50%;
  position: absolute;
  left: -7px;
  top: 0px;
}
.content h3 {
  font-size: 1rem;
  font-weight: 600;
}

.content p {
  margin: 0.3rem 0;
  font-size: 0.9rem;
}

.content .date {
  font-size: 0.8rem;
  opacity: 80%;
}
